{% extends "base.html" %}
{% load static %}

{% block content %}
  <h2>
    Order {{ order.id }} created at {{ order.created_at }}
    <a href="{% url 'service:order-delete' pk=order.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>
    <a href="{% url 'service:order-update' pk=order.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h2>

  <h4>
    Customer: {{ order.customer.first_name }} {{ order.customer.last_name }} ({{ order.customer.username }})
    <br>
    Car: {{ order.car }} Mileage: {{ order.mileage }}
  </h4>
  <br>

  <a href="{% url 'service:order-row-create' pk=order.id %}" class="btn btn-primary link-to-page">
    Add row
  </a>

  <div class="ml-3">
    <table class="table">
      <tr>
        <th>#</th>
        <th>Part</th>
        <th>Quantity</th>
        <th>Sum</th>
        <th></th>
      </tr>
    {% for row in order.order_rows.all %}
      <tr>
        <td>{{ row.id }}</td>
        <td>{{ row.part }}</td>
        <td>{{ row.quantity }}</td>
        <td>{{ row.sum }}</td>
        <td>
          <form method="POST" action="{% url 'service:order-row-delete' pk=row.id %}">
            {% csrf_token %}
            <input name="_method" type="hidden" value="DELETE">
            <button type="submit" class="btn btn-xs btn-danger btn-flat show_confirm" data-toggle="tooltip" title='Delete'>Delete</button>
          </form>
        </td>
      </tr>
    {% endfor %}
    </table>
  </div>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript" src="{% static 'js/confirm_delete_row.js' %}"></script>
{% endblock %}