body {
    margin-top: 20px;
}

.link-to-page {
    float: right;
    margin: 0 2px 0 2px;
}

.a-update {
    color: green;
    font-weight: bold;
}

.a-delete {
    color: red;
    font-weight: bold;
}